/* get header font */


/* theme colors */
:root>* {
  --md-primary-fg-color: #012169;
  --md-primary-fg-color--light: #666666;
  --md-primary-fg-color--dark: #262626;
  --md-footer-bg-color: #012169;

  --md-accent-fg-color: #C84E00;
  --md-typeset-a-color: #0577B1;
}

.md-header__topic {
  font-family: "EB Garamond";
  font-size: 1.2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather";
}

.md-banner {
  --md-footer-bg-color: #0577B1;
  --md-typeset-a-color: #FFD960;
}

mark[data-md-highlight] {
  background-color: #FFD960;
}

.md-search-result mark[data-md-highlight] {
  background-color: transparent;
}